<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title> <%# title nya diambil dari app.js %>
</head>
<body>
    <h3>Links</h3>
    <ul>

        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <h1>Halaman Contact</h1>
    <h2>Daftar Contact</h2>

    <%# Yang akan terjadi apabila data kosong atau tidak ditemukan %> 
    <% if (cont.length < 1) { %>
        <p>Data Kosong!</p>

    <%# Yang akan berjalan apabila datanya ada %> 
    <% } else { %> 
        
    <%# Memanggil value dari app.js %> 
    <% cont.forEach(con => { %> 
        <table>
            <tr>
                <td>Nama : <%=con.name%></td>
            </tr>

            <br>

            <tr>
                <td>Email : <%=con.email%></td>
            </tr>
        </table>
    <% })} %>

</body>
</html>