    <h1>Halaman Contact</h1>
    <h2>Daftar Contact</h2>

    <%# Yang akan terjadi apabila data kosong atau tidak ditemukan %> 
    <% if (cont.length < 1) { %>
        <p>Data Kosong!</p>

    <%# Yang akan berjalan apabila datanya ada %> 
    <% } else { %> 
        
    <%# Memanggil value dari app.js %> 
    <% cont.forEach(con => { %> 
        <table>
            <tr>
                <td>Nama : <%=con.name%></td>
            </tr>

            <br>

            <tr>
                <td>Email : <%=con.email%></td>
            </tr>
        </table>
    <% })} %>
